.fp {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 20px;
}

.fpItem{
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.fpImg{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.fpName{
  color: #2b69c5;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.fpCity{
  font-weight: 300;
}

.fpPrice{
  font-weight: 500;
}

.fpRating>a{
  
  color: orange;
  padding: 4px;
  margin-right: 10px;
  border-radius: 100px;
  font-weight: bold;
  font-size: 20px;
}
.fpRating{
  display: flex;
  align-items: center;
  justify-content: center;
}

.fpRating>span{
  font-size: 20px;
}
.fontstar{
  color: orange;
  font-size: x-large;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .fpItem {
    gap: 5px;
  }

  .fpImg {
    height: 150px;
  }

  .fpRating > a {
    font-size: 16px;
  }

  .fpRating > span {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .fpItem {
    gap: 2px;
  }

  .fpImg {
    height: 120px;
  }

  .fpName {
    font-size: 14px;
  }

  .fpCity {
    font-size: 12px;
  }

  .fpPrice {
    font-size: 14px;
  }

  .fpRating > a {
    font-size: 14px;
  }

  .fpRating > span {
    font-size: 14px;
  }

  .fontstar {
    font-size: large;
  }
}


@media screen and (max-width: 480px) {
  .featured {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .featuredItem {
    flex-basis: 50%;
    max-width: calc(50% - 10px);
  }
}
